attrs==21.2.0
beautifulsoup4==4.9.3
chromedriver-autoinstaller==0.6.3
configparser==5.2.0
fake-useragent==0.1.11
multidict==5.1.0
mysql-connector-python==8.2.0
pycparser==2.20
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
PyMySQL==0.10.1
pyparsing==2.4.7
pyshorteners==1.0.1
pyTelegramBotAPI==3.7.3
python-rucaptcha==3.0.1
requests==2.25.0
resources==0.0.1
schedule==0.6.0
selenium==3.141.0
selenium-wire==4.5.3
soupsieve==2.0.1
undetected-chromedriver==3.0.3
urllib3==1.26.2
webdriver-manager==3.5.3
webkit-server==1.0
